@use "theme";
@use "common";

.App {
  background: theme.$neutrals-one;
  min-height: 100vh;
  color: white;
  padding: 0 20px;
  overflow: auto;
  display: flex;
  flex-flow: column;
}

.subtotal-container {
  @include common.flex-space-between;
  padding: 10px common.$padding-side;
  background: theme.$neutrals-two;
  @include common.typo_h4_highlight;
  height: common.$large-btn-height; //calc(#{common.$large-btn-height} + #{common.$margin-top})
  border: 1px solid theme.$neutrals-three;
  border-radius: 0 0 common.$border-radius common.$border-radius;
}

.subtotal-parent.empty {
  background: transparent;
  .subtotal-container * {
    visibility: hidden;
  }
  .subtotal-container {
    border-top: none;
    background: transparent;
  }
}

.stick-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0 common.$body-padding;
  z-index: 9999;
  width: 100%;
  background: theme.$neutrals-one;
}

.stick-bottom-70 {
  position: fixed;
  bottom: 70px;
  left: 0;
  padding: 0 common.$body-padding;
  z-index: 9999;
  width: 100%;
  background: theme.$neutrals-one;
}
