@use "theme";
@use "common";

.App {
  background: theme.$neutrals-one;
  min-height: 100vh;
  color: white;
  padding: 0 20px;
  overflow: auto;
  display: flex;
  flex-flow: column;
}

@include common.for-size(tablet-portrait-up) {
  #root {
    background: theme.$neutrals-one;
  }

  .App {
    width: 500px;
    margin: auto;
  }

  .full-sticked {
    width: 500px !important;
    left: 50% !important;
    transform: translate(-50%, 0);
  }
}
