@use 'common';
@use "theme";

.cart-container {
  border: 1px solid theme.$neutrals-three;
  border-radius: common.$border-radius common.$border-radius 0 0;
  box-shadow: 0px 8px 100px 0px #0000000d;
  margin-top: common.$margin-top;
  overflow: hidden;
  margin-bottom: 110px;
  border-bottom: none;
  flex: 1;

  .cart-title-collapsible .yz-icon img {
    transition: all 0.3s linear;
  }

  &.empty {
    margin-bottom: 70px;
  }

  .select-loader-container {
    background: theme.$neutrals-two;
    padding: 10px common.$padding-side;
    border-bottom: 1px solid theme.$neutrals-three;
  }

  .cart-items {
    max-height: 10000px;
    transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
  }

  .cart-and-title {
    padding: 10px common.$padding-side;

    &.collapsed {
      .cart-title-collapsible .yz-icon img {
        transform: rotate(180deg);
      }

      .cart-items {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease;
      }
    }
  }

  .cart-title-collapsible {
    @include common.flex-start;
    margin: common.$margin-top 0;

    .yz-icon img {
      @include common.yz-icon-img;
      margin-right: 10px;
    }

    .title {
      @include common.typo_h3_active;
    }
  }
}
