@use 'common';
@use "theme";

.cart-container {
  border: 1px solid theme.$neutrals-three;
  border-radius: common.$border-radius;
  box-shadow: 0px 8px 100px 0px #0000000d;
  margin-top: common.$margin-top;
  overflow: hidden;

  .select-loader-container {
    background: theme.$neutrals-two;
    padding: 10px common.$padding-side;
    border-bottom: 1px solid theme.$neutrals-three;
  }

  .subtotal-container {
    @include common.flex-space-between;
    padding: 10px common.$padding-side;
    background: theme.$neutrals-two;
    border-top: 1px solid theme.$neutrals-three;
    @include common.typo_h4_highlight;
  }

  .cart-and-title {
    padding: 10px common.$padding-side;
  }

  .cart-title-collapsible {
    @include common.flex-start;

    .yz-icon img {
      @include common.yz-icon-img;
    }

    .title {
      @include common.typo_h3_active;
    }
  }
}

.cart-checkout {
  background: theme.$neutrals-two;
  border: 1px solid theme.$neutrals-three;
  border-radius: common.$border-radius;
  box-shadow: 0px 8px 100px 0px #0000000d;
  padding: 10px common.$padding-side;
  margin: common.$margin-top 0;
  text-align: center;
  @include common.typo_h3_active;
}
