@use 'common';
@use "theme";

.yz-navbar {
  @include common.flex-space-between;
  height: 50px;

  .nav-info {
    @include common.flex-space-between;

    .zelf-logo {
      margin-left: 20px;
    }

    .cart {
      position: relative;
      &::before {
        position: absolute;
        content: attr(data-count);
        @include common.yz-circle(13px, theme.$custom-red);
        font-size: 10px;
        @include common.flex-center;
        bottom: 3px;
        right: 0;
      }
    }
  }
}
