@use 'common';
@use "theme";

.yz-navbar {
  @include common.flex-space-between;
  height: common.$nav-height;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  padding: 0 common.$body-padding;
  background: theme.$neutrals-one;

  .nav-info {
    @include common.flex-space-between;

    .zelf-logo {
      margin-left: 20px;
    }

    .cart {
      position: relative;
      &.non-empty::before {
        position: absolute;
        content: attr(data-count);
        @include common.yz-circle(13px, theme.$custom-red);
        font-size: 10px;
        @include common.flex-center;
        bottom: 3px;
        right: 0;
      }

      img {
        height: 25px;
      }
    }
  }
}

@include common.for-size(tablet-portrait-up) {
  .yz-navbar {
  }
}
