@use '../common';
@use "../theme";

.yz-btn {
  background: theme.$neutrals-two;
  border: 1px solid theme.$neutrals-three;
  @include common.typo_h4_active;
  padding: 5px 10px;
  border-radius: common.$border-radius;
  display: inline-block;
  margin: 0;
  text-decoration: none;
  font-family: sans-serif;
  line-height: 1;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  color: white;
}

.yz-btn:hover,
.yz-btn:focus,
.yz-btn:active {
  background: theme.$neutrals-three;
}

.yz-sm-btn:not(:last-child) {
  margin-right: 10px;
}
