$border-radius: 5px;
$padding-side: 15px;
$margin-top: 15px;
$nav-height: 50px;
$body-padding: 15px;
$large-btn-height: 40px;

@mixin flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@mixin yz-circle($dia, $bg) {
  width: $dia;
  height: $dia;
  border-radius: 50%;
  background-color: $bg;
}

@mixin yz-icon-img {
  width: 15px;
}

@mixin for-size($size) {
  @if $size == mini-phone-or-zoomed {
    @media (max-width: 350px) {
      @content;
    }
  } @else if $size == phone-only {
    @media (max-width: 599px) {
      @content;
    }
  } @else if $size == tablet-portrait-up {
    @media (min-width: 600px) {
      @content;
    }
  } @else if $size == tablet-landscape-up {
    @media (min-width: 900px) {
      @content;
    }
  } @else if $size == desktop-up {
    @media (min-width: 1200px) {
      @content;
    }
  } @else if $size == big-desktop-up {
    @media (min-width: 1800px) {
      @content;
    }
  }
}
