$border-radius: 5px;
$padding-side: 15px;
$margin-top: 15px;
$nav-height: 50px;
$body-padding: 20px;
$large-btn-height: 40px;

@mixin flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@mixin yz-circle($dia, $bg) {
  width: $dia;
  height: $dia;
  border-radius: 50%;
  background-color: $bg;
}

@mixin yz-icon-img {
  width: 15px;
}
